@import "tailwindcss";

@font-face {
  font-family: 'Suisse Intl regular';
  src: url('./assets/fonts/SuisseIntl-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Intl bold';
  src: url('./assets/fonts/SuisseIntl-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Suisse Intl semi-bold';
  src: url('./assets/fonts/SuisseIntl-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}